@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.header-main { 
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    font-size: 2rem;
    padding-left: 1.5rem;
    background:rgb(114, 199, 255);
}

.logolar {
    padding: 0.1rem;
    background: rgb(46, 85, 110);
    margin: 0 1px ;
}

.icon {
    color: white;
    display: grid;
    place-content: center;
    text-align: center;
}

.icon:hover {
    opacity: 0;
}

.icon:visited {
    color: white;
}

.doktor {
    font-family: "MonteCarlo", cursive;
    font-size: 3rem;
    margin: 1.5rem 2rem;
    font-weight: 800;

}

.doktor-main {
    background:rgb(255, 255, 255);
    color:  rgb(17, 27, 81);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tel-no-container {
    display:flex;
    flex-direction: row;
}

.tel-no {
    font-size: 2rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

.tel-icon {
    font-size: 2rem;
    padding:0;
    margin: 0 1rem 0 0;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    gap: 30px;
    background: rgb(114, 199, 255);
}


@media screen and (max-width: 640px) {
    .nav {
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        font-size: 1rem;
        padding-left: 1rem;
    }

    .doktor {
        font-family: "MonteCarlo", cursive;
        font-size: 1.2rem;
        margin: 1rem 1rem;
        font-weight: 800;
    }

    .iletisim {
        font-size: 0.75rem;
    }

    .tel-no, .tel-icon {
        font-size: 1rem;
    }

    .navbar {
        gap:3px;
        padding: 0.2rem;
    }

    .navbar-p {
        font-size: 0.5rem;
        margin: 0.15rem;
    }
}