@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.ozon-everything {
    margin: 0;
    padding: 0 0 1rem 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-family: "Playfair Display", serif;
    color:  rgb(17, 27, 81);
    background-color: white;
}

.ozon-sorular {
    font-size: 1.25rem;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}

.ozon-header {
    font-size: 2rem;
    font-weight: 600;
}

.pag:hover {
    color:rgb(114, 199, 255);
    cursor: pointer;
}


@media screen and (max-width: 640px) {
    .ozon-header {
        font-size: 1rem; 
        width:100%;
    }
    
    .ozon-sorular {
        font-size: 0.75rem;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: flex-start; 
        gap: 0px;
        margin:0;
        padding: 0.5rem;
    }
}